<rss version="2.0">
    <channel>
    <title>Rahul Writes Propaganda</title>
    <link>https://theslytherin.gitlab.io/r19a</link>
    <description>
    Political commentary I have no business doing
    </description>
    <lastBuildDate>{{meta.builddate}}</lastBuildDate>
{% for post in posts %}
    <item>
        <title> {{post.title}} </title>
        <date> {{post.date}} </date>
        <link> {{post.url}} </link>
        <summary> {{post.summary}} </summary>
        <content> <![CDATA[{{post.content}} ]]></content>
        <author> {{post.author}} </author>
    </item>
{% endfor %}
    </channel>
</rss>
